<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta content="{{site.data.profile.page-title}}" property="og:title">
    <meta content="{{site.data.profile.page-title}}" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="{{site.data.profile.website}}" property="og:url">
    <meta content="https://gravatar.com/avatar/9f2fa89587ad212290259b1227b54f15?size=200" property="og:image">
    <meta content="{{site.data.profile.about-me}}" property="og:description">

    <meta content="summary" name="twitter:card">
    <meta content="{{site.data.profile.page-title}}" name="twitter:title">
    <meta content="{{site.data.profile.about-me}}" name="twitter:description">
    <meta content="https://gravatar.com/avatar/9f2fa89587ad212290259b1227b54f15?size=200" name="twitter:image">
    <meta content="{{site.data.profile.twitter-handler}}" name="twitter:site">
    <meta content="{{site.data.profile.twitter-handler}}" name="twitter:creator">

    <link rel="icon" href="resources/site-icon.png">
    <link href="styles/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="styles/style.less" />
    <script src="resources/jquery-3.6.0.slim.min.js"></script>
    <script src="resources/less.min.js"></script>
    <script src="resources/darkmode.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/fontawesome-all.min.css" />
    <title>{{site.data.profile.page-title}}</title>
</head>

<body class="mb-5 md:mx-3 mx-1 md:mx-0">
    <header class="mt-2 w-full max-w-6xl md:mx-auto flex justify-between md:flex-no-wrap flex-wrap md:space-x-8">
        <div class="md:w-1/2 w-full flex flex-wrap">
            <div class="md:w-auto w-1/6 md:my-auto mr-0 ml-0 align-middle">
                <img class="profile-pic" src="{{site.data.profile.profile-img}}" />
            </div>

            <div class="lg:w-5/6 w-4/6 my-auto lg:flex lg:flex-wrap">
                <h3 class="profile-name  ml-2 md:text-2xl text-2xl">&gt;<span class="blink">_
                    </span>{{site.data.profile.name}}
                </h3>
                <h4 class="profile-title ml-2 md:text-xl lg:visible invisible lg:h-auto h-0">{{site.data.profile.title}}
                </h4>
            </div>
            <div class="md:w-1/2">
                <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                    <input type="checkbox" name="toggle" id="toggle"
                        class="darkmode-toggle toggle-checkbox absolute block w-6 h-6 rounded-full border-4 appearance-none cursor-pointer" />
                    <label for="toggle"
                        class="toggle-label block overflow-hidden h-6 rounded-full cursor-pointer"></label>
                </div>
                <div class="darkmodeicon">
                    <div class=" text-xs text-gray-700"><i class="far fa-moon"></i></div>
                </div>

            </div>
        </div>
    </header>

    <div class="bg-dark-gray w-full min-h-screen">
        <div class="w-full max-w-6xl mx-auto mt-2 flex justify-between md:flex-no-wrap flex-wrap md:space-x-8">
            <div class="md:w-1/3 w-full">

                <section class="mt-5 md:mt-2">
                    <h3 class="font-medium text-2xl">About me</h3>
                    <div>
                        <div class="h-1 line-separator w-48 my-2 md:my-4"></div>
                        <p class="md:text-base text-sm">
                            {{site.data.profile.about-me}}
                        </p>
                    </div>
                </section>
                {% if site.data.profile.goals != %}
                <section class="mt-5 md:mt-2">
                    <h3 class="font-medium text-2xl">Goals</h3>
                    <div>
                        <div class="h-1 line-separator w-48 my-2 md:my-4"></div>
                        <p class="md:text-base text-sm">
                            {{site.data.profile.goals}}
                        </p>
                    </div>
                </section>
                {% endif %}
                <section class="mt-5 md:mt-2">
                    <h3 class="font-medium text-2xl">Skills</h3>
                    <div>
                        <div class="h-1 line-separator w-48 my-2 md:my-4"></div>
                        <ul class="list-item list-disc list-inside md:text-base text-sm">
                            {%for spec in site.data.profile.skills%}
                            <li>{{spec}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </section>
                <section class="mt-5 md:mt-2 sm:block hidden">
                    <h3 class="font-medium text-2xl">Socials</h3>
                    <div class="h-1 line-separator w-48 my-2 md:my-4"></div>

                    <div class="social-links">
                        {% for social in site.data.profile.socials %}
                        <a href="{{social.url}}" class="hover:underline flex items-center">
                            <i class="mr-2 fab {{social.icon}}"></i>
                            {{social.name}}
                        </a>
                        {%endfor%}
                    </div>
                </section>
            </div>
            <div class="md:w-2/3 w-full">
                <section class="mt-4 mb-2">
                    <h3 class="section-header font-medium md:text-3xl text-2xl">Experience</h3>
                    <div class="h-1 line-separator w-48 md:my-4 my-2"></div>
                    {% for job in site.data.jobs %}
                    <div class="md:mt-8 mt-4 project">
                        <h4 class="font-medium md:text-2xl text-xl">{{ job.job-title }}</h4>
                        <h5 class="md:text-xl text-base sub-title"><a href="{{ job.website }}"
                                class="hover:underline">{{
                                job.company-name
                                }}</a> |
                            {%if job.end-date != %}
                            <i>{{ job.start-date }} - {{ job.end-date }}</i>
                            {%else%}
                            <i>Current job since {{ job.start-date }}</i>
                            {%endif%}
                        </h5>
                        <ul class="list-item list-disc list-inside md:text-base text-sm">
                            {%for task in job.tasks%}
                            <li>{{task}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                    {% endfor %}
                </section>
                <section class="mt-4 mb-2">
                    <h3 class="section-header font-medium md:text-3xl text-2xl">Projects</h3>
                    <div class="h-1 line-separator w-48 my-2 md:my-4"></div>
                    {% for project in site.data.projects %}
                    <div class="mt-8 project">
                        <a href="{{project.url}}">
                            <h4 class="font-medium md:text-2xl text-xl">
                                <i class="{{ project.icon }}"></i>
                                {{ project.name }}
                            </h4>
                        </a>
                        <div>
                            <h5 class="md:text-xl text-base sub-title">{{ project.tech }}</h5>
                            <p>{{project.description}}</p>
                        </div>

                    </div>
                    {% endfor %}

                </section>
                <section class="mt-4 mb-2">
                    <h3 class="section-header font-medium md:text-3xl text-2xl">Education</h3>
                    <div class="h-1 line-separator w-48 my-2 md:my-4"></div>
                    {% for edu in site.data.education %}
                    <div class="md:mt-8 mt-4 project">
                        <h4 class="font-medium md:text-2xl text-xl">{{ edu.degree }}</h4>
                        <h5 class="md:text-xl text-base sub-title"><a href="{{ edu.website }}"
                                class="hover:underline">{{
                                edu.school-name }}</a> |
                            <i>{{ edu.start-year }} - {{ edu.graduation-year }}</i>
                        </h5>
                    </div>
                    {% endfor %}
                </section>

            </div>
        </div>
    </div>
    <footer class="w-full flex flex-wrap justify-center mt-4 ">
        <div class="w-full flex justify-center flex-wrap sm:hidden">
            <div class="">
                <div class="flex items-center w-full">
                    <h5 class="mx-auto font-medium text-base">Socials</h5>
                </div>

                <div class="social-links w-full flex justify-center">
                    {% for social in site.data.profile.socials %}
                    <a href="{{social.url}}" class="hover:underline mr-1 hover:underline text-sm">
                        <i class="mx-1 fab {{social.icon}}"></i>
                        {{social.name}}
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="w-full mt-2">
            <div class="flex items-center w-full">
                <img class="mx-auto eevee" src="resources/eevee.png" />
            </div>
        </div>
    </footer>
</body>

</html>